first.XSD

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="personal_information">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="fname"/>
              <xs:element type="xs:string" name="lname"/>
              <xs:element type="xs:long" name="contact"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="Address"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="person2">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="fname"/>
              <xs:element type="xs:string" name="lname"/>
              <xs:element type="xs:long" name="contact"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="Address"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="person3">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="fname"/>
              <xs:element type="xs:string" name="lname"/>
              <xs:element type="xs:long" name="contact"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="Address"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="person4">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="fname"/>
              <xs:element type="xs:string" name="lname"/>
              <xs:element type="xs:long" name="contact"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="Address"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>